---
import Comment from "./Comment.astro";
import comments from "../../data/comments.json";
---

<article class="flex w-full flex-col gap-2">
    <h4 class="title_section text-3xl mt-2">Comentarios</h4>
    <p class="text-md text-gray-600 mb-2">Diferentes opiniones de alumnos</p>
    {
        comments.map(comment => (
            <Comment name={comment.name} date={comment.date} description={comment.description} /> 
        ))
    }
</article>