.container {
    position: fixed;
    z-index: 99999;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0);
    border: 1px solid var(--third-color);
}
.overlay {
    position: fixed;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.966);
    height: 100vh;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projects__title {
    position: relative;
    padding: 20px;
}
.projects__title::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem; /* Ancho del borde izquierdo */
    height: 4rem; /* Altura del borde superior */
    border-top: 2px solid var(--text-color-third); /* Grosor y color del borde superior */
    border-right:  2px solid var(--text-color-secondary); /* Grosor y color del borde izquierdo */
    box-sizing: border-box;
}


.projects__title h3 {
    color: var(--text-color-third);
    font-weight: 600;
    letter-spacing: 0.04em;
}

.projects__title p {
    color: var(--text-color-secondary);
}


.title__proyect {
    font-weight: 600;
    letter-spacing: -0.04em;
    color: rgb(228, 228, 228);
}

.title__subproyect {
    margin-top: -.2rem;
    color: rgb(192, 192, 192);
}

.text__proyect {
    color: var(--text-color-secondary);
}

.tools {
    position: relative;
    padding: 20px;
}

.tools::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem; /* Ancho del borde izquierdo */
    height: 4rem; /* Altura del borde superior */
    border-top: 2px solid var(--text-color-third); /* Grosor y color del borde superior */
    border-left:  2px solid var(--text-color-secondary); /* Grosor y color del borde izquierdo */
    box-sizing: border-box;
}

.radio-item [type="radio"] {
	display: none;
}

.radio-item label {
	display: block;
	padding: 10px 3rem;
	border: 2px solid var(--text-color-third);
	border-radius: 8px;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 400;
	min-width: 250px;
	white-space: nowrap;
	position: relative;
	transition: 0.4s ease-in-out 0s;
}
.radio-item label:after,
.radio-item label:before {
	content: "";
	position: absolute;
	border-radius: 50%;
}
.radio-item label:after {
	height: 19px;
	width: 19px;
	border: 2px solid rgb(133, 235, 235);
	left: 19px;
	top: calc(50% - 12px);
}
.radio-item label:before {
	background: rgb(133, 235, 235);
	height: 20px;
	width: 20px;
	left: 21px;
	top: calc(50%-5px);
	transform: scale(5);
	opacity: 0;
	visibility: hidden;
	transition: 0.4s ease-in-out 0s;
}
.radio-item [type="radio"]:checked ~ label {
	border-color: rgb(133, 235, 235);
}
.radio-item [type="radio"]:checked ~ label::before {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}
