---
import "./about.css"
---

<section id="about" class="about__container justify-center items-center flex flex-col md:flex-row md:mb-0">
    <div class="md:hidden about__content flex flex-col m-4 md:items-start md:w-1/2">
        <h2 class="text-3xl title_section">Sobre mí</h2>
        <p class="subtitle_section">Tengo 22 años y soy estudiante de la UDP en Santiago. Me encanta bailar, la música, cantar, los videojuegos y compartir con más gente. Amo la programación y la docencia, me apasiona enseñar e interactuar con mis alumnos.</p>
    </div>
    <div class="about__image flex justify-center md:hidden">
        <img class="w-80" src="/about_img.webp" alt="">
    </div>
    <div class="hidden about__content flex-col m-4 md:items-start md:w-1/2 md:flex">
        <h2 class="text-3xl title_section">Sobre mí</h2>
        <p class="subtitle_section">Tengo 22 años y soy estudiante de la UDP en Santiago. Me encanta bailar, la música, cantar, los videojuegos y compartir con más gente. Amo la programación y la docencia, me apasiona enseñar e interactuar con mis alumnos.</p>
        <div class="flex justify-start items-start pt-2">
            <a class="rounded p-4 " href="/" download="/csv.pdf">Descargar mi CSV</a>
        </div>
    </div>
    <div class="hidden about__image md:flex justify-center">
        <img class="w-80" src="/about_img.webp" alt="">
    </div>
</section>