---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar/Navbar';
import Header from "../components/header/Header.astro";
import Projects from '../components/projects/Projects';
import Docencia from '../components/docencia/Docencia';
import Contact from '../components/contact/Contact.astro';
import Footer from "../components/footer/Footer.astro";
import About from '../components/about/About.astro';
---

<Layout>
	<Navbar client:load/>
	<main class="mx-auto">
		<Header />
		<About />
		<Projects client:load/>
		<Docencia client:load />
		<Contact />
	</main>
	<Footer />
</Layout>../components/docencia/Docencia.jsx