---
import "./contact.css"
---

<section id="contact" class="md:flex md:flex-col md:justify-center md:items-center md:gap-8 p-8 my-12">
    <div class="md:w-1/2 contact__content flex-col items-end flex justify-end">
        <h5 class="title_section text-3xl">Contacto</h5>
        <p class="subtitle_section text-right">Puedes contactarme o encontrarme por diferentes medios. También puedes escribirme directamente a <b>benjamin.morales3@mail.udp.cl</b></p>
    </div>
    <div class="contact__items md:w-2/4  flex flex-col gap-4 justify-center items-center">
        <a target="_blank" class="w-1/2 text-center py-2 px-6 bg-gray-950 border rounded border-gray-900 hover:bg-gray-900 hover:border-gray-800 transition-colors 0.3s" href="https://github.com/benjamin09111">Github</a>
        <a class="w-1/2 text-center py-2 px-6 bg-gray-950 border rounded border-gray-900 hover:border-gray-800  hover:bg-gray-900 transition-colors 0.3s" href="mailto:benjamin.morales3@mail.udp.cl">Correo</a>
        <a target="_blank" class="w-1/2 text-center py-2 px-6 bg-gray-950 border rounded border-gray-900 hover:border-gray-800  hover:bg-gray-900 transition-colors 0.3s" href="https://www.linkedin.com/in/benjamin-morales-pizarro-a63696244/">Linkedin</a>
        <a target="_blank" class="w-1/2 text-center py-2 px-6 bg-gray-950 border rounded border-gray-900 hover:border-gray-800  hover:bg-gray-900 transition-colors 0.3s" href="https://www.youtube.com/channel/UCCQNTN_JTLqx16qQ-_I0z_w">YouTube</a>
    </div>
</section>