---
import icons from '../../data/icontool'
import "./header.css";
---

<header id="home" class="header__container flex items-center flex-col pt-32 md:pt-24 justify-center gap-4">
    <div class="header_c1 flex flex-col justify-center items-center gap-4 md:items-start">
        <div class="header__content flex flex-col items-center justify-center gap-3 md:items-start md:w-1/2">
            <h1 class="header_title">Bienvenido</h1>
            <h2 class="text-2xl header_subtitle">Soy <b>Benjamín Morales</b>,</h2>
            <p class="text-center text-base md:text-left">estudiante de Ingeniería Civil en Informática y Telecomunicaciones en la Universidad Diego Portales.</p>
        </div>
    </div>
    
    <div class="flex flex-col justify-center items-center gap-4">
        <div class="header__image rounded-full overflow-hidden w-60   md:m-0">
            <img src="/profile_foto.webp" alt="header image">
        </div>
        <div class="flex gap-4 text-4xl">
            <a href="mailto:benjamin.morales3@mail.udp.cl" class="icon-[ic--baseline-email] hover:text-gray-500"></a>
            <p class="text-2xl">. . .</p>
            <a target="_blank" href="https://www.linkedin.com/in/benjamin-morales-pizarro-a63696244/" class="icon-[mdi--linkedin] hover:text-gray-500"></a>
        </div>
    </div>
    <div class="header_c3 header__links flex flex-col items-center justify-center gap-6 w-full pl-6 pr-6 md:pl-0 md:items-end md:w-1/1.5 lg:w-1/2">
        <div class="flex flex-col items-center justify-start md:w-1/2 gap-2 md:items-end ">
            <p class="text-center md:text-right">
                Puedes ver mi sección de <b>docencia</b> en la Universidad, mi canal de <b>YouTube</b> o descargar mi <b>CSV</b>
            </p>
            <div class="header__links-container items-start rounded flex gap-6 px-4 py-2 md:justify-start md:items-start md:my-2">
                <a class="" href="#docencia"> 
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8 header_icon">
                        <path d="M11.7 2.805a.75.75 0 0 1 .6 0A60.65 60.65 0 0 1 22.83 8.72a.75.75 0 0 1-.231 1.337 49.948 49.948 0 0 0-9.902 3.912l-.003.002c-.114.06-.227.119-.34.18a.75.75 0 0 1-.707 0A50.88 50.88 0 0 0 7.5 12.173v-.224c0-.131.067-.248.172-.311a54.615 54.615 0 0 1 4.653-2.52.75.75 0 0 0-.65-1.352 56.123 56.123 0 0 0-4.78 2.589 1.858 1.858 0 0 0-.859 1.228 49.803 49.803 0 0 0-4.634-1.527.75.75 0 0 1-.231-1.337A60.653 60.653 0 0 1 11.7 2.805Z" />
                        <path d="M13.06 15.473a48.45 48.45 0 0 1 7.666-3.282c.134 1.414.22 2.843.255 4.284a.75.75 0 0 1-.46.711 47.87 47.87 0 0 0-8.105 4.342.75.75 0 0 1-.832 0 47.87 47.87 0 0 0-8.104-4.342.75.75 0 0 1-.461-.71c.035-1.442.121-2.87.255-4.286.921.304 1.83.634 2.726.99v1.27a1.5 1.5 0 0 0-.14 2.508c-.09.38-.222.753-.397 1.11.452.213.901.434 1.346.66a6.727 6.727 0 0 0 .551-1.607 1.5 1.5 0 0 0 .14-2.67v-.645a48.549 48.549 0 0 1 3.44 1.667 2.25 2.25 0 0 0 2.12 0Z" />
                        <path d="M4.462 19.462c.42-.419.753-.89 1-1.395.453.214.902.435 1.347.662a6.742 6.742 0 0 1-1.286 1.794.75.75 0 0 1-1.06-1.06Z" />
                    </svg>
                </a>
                <a target="_blank" href="https://www.youtube.com/@tutoprogra1513">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8 header_icon">
                        <path d="M4.5 4.5a3 3 0 0 0-3 3v9a3 3 0 0 0 3 3h8.25a3 3 0 0 0 3-3v-9a3 3 0 0 0-3-3H4.5ZM19.94 18.75l-2.69-2.69V7.94l2.69-2.69c.944-.945 2.56-.276 2.56 1.06v11.38c0 1.336-1.616 2.005-2.56 1.06Z" />
                    </svg>
                </a>
                <a href="/" download="/csv.pdf">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-8 header_icon">
                        <path fill-rule="evenodd" d="M5.625 1.5H9a3.75 3.75 0 0 1 3.75 3.75v1.875c0 1.036.84 1.875 1.875 1.875H16.5a3.75 3.75 0 0 1 3.75 3.75v7.875c0 1.035-.84 1.875-1.875 1.875H5.625a1.875 1.875 0 0 1-1.875-1.875V3.375c0-1.036.84-1.875 1.875-1.875Zm5.845 17.03a.75.75 0 0 0 1.06 0l3-3a.75.75 0 1 0-1.06-1.06l-1.72 1.72V12a.75.75 0 0 0-1.5 0v4.19l-1.72-1.72a.75.75 0 0 0-1.06 1.06l3 3Z" clip-rule="evenodd" />
                        <path d="M14.25 5.25a5.23 5.23 0 0 0-1.279-3.434 9.768 9.768 0 0 1 6.963 6.963A5.23 5.23 0 0 0 16.5 7.5h-1.875a.375.375 0 0 1-.375-.375V5.25Z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="header__arrow hidden md:block">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="header__arrow-button">
            <path fill-rule="evenodd" d="M12 2.25a.75.75 0 0 1 .75.75v16.19l6.22-6.22a.75.75 0 1 1 1.06 1.06l-7.5 7.5a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 1 1 1.06-1.06l6.22 6.22V3a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
        </svg>
    </div>
</header>